.link {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px; /* Default font size */
}

.link:hover {
    color: #add8e6; 
}

.icon#ig {
    font-size: 24px;
    color: #E4405F;
    text-decoration: none;
}

.icon#fb {
    font-size: 24px;
    color: #1877F2;
    text-decoration: none;
}

.icon#yelp {
    font-size: 24px;
    color: #D32323;
    text-decoration: none;
}

/* Hover effects */
.icon#ig:hover {
    color: #F77777;
    transform: scale(1.05);
}

.icon#fb:hover {
    color: #6D9DE8;
    transform: scale(1.05);
}

.icon#yelp:hover {
    color: #F56565;
    transform: scale(1.05);
}



/* Default styles for non-mobile view */
.hamburger {
    display: none; /* Hide hamburger by default */
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#social {
    display: flex;
    gap: 20px;
    margin-left: '50px'
}

/* Media query for mobile view */
@media (max-width: 768px) {
    /* Show hamburger button */
    .hamburger {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    #nav.off {
        display: none; /* Hide nav by default on mobile */
        flex-direction: column; /* Stack items vertically when shown */
    }

    #nav.on  {
        display: flex; /* Hide nav by default on mobile */
        flex-direction: column; /* Stack items vertically when shown */
    }

    #social.off {
        display: none; /* Hide social icons by default */
        flex-direction: column;
        margin-top: 20px;
    }

    #social.on {
        display: flex; /* Hide social icons by default */
        flex-direction: column;
        margin-top: 20px;
    }

    .icon#ig, .icon#fb, .icon#yelp {
        font-size: 20px; /* Resize icons for mobile */
    }

    .link {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

/* When the menu is toggled open in mobile view 
@media (max-width: 768px) { 
    #nav {
        display: flex; Show the nav when hamburger is clicked
        flex-direction: column;
    }

    .social-icons {
        display: flex; Show social icons in the menu
        flex-direction: column;
        margin-top: 20px;
    }
} */
