/* Ensure the section allows space for the title and the rectangles */
.services-section {
  padding: 20px;
}

/* New container for the title and rectangles */
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h2 {
  
  font-family: Arial, sans-serif;
  font-size: 32px;
  
}

/* Container for the rectangles */
.rectangles-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  width: 100%;
}

/* Adjust each rectangle to take up 23% of the width */
.service-rectangle {
  flex: 0 0 17%;
  padding: 20px;
  background-color: #cdf3fb;
  border: 2mm solid rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  font-family: Arial, sans-serif;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease, opacity 1s ease;
  text-align: center;
  
}

/* Hidden and visible styles remain the same */
.service-rectangle.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

.service-rectangle.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Hover effect remains the same */
.service-rectangle.hover-enabled:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Icon and content center alignment */
.service-rectangle .MuiSvgIcon-root {
  display: inline-block;
  font-size: 40px;
  color: #000;
}

/* Margin adjustments for icons */

.service-rectangle .MuiSvgIcon-root:nth-child(1) {
  margin-right: -25px;
}

.service-rectangle .MuiSvgIcon-root:nth-child(3) {
  margin-left: -22px;
}
